nav {
    background-color: #333;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    padding: 10px;
    margin: 10px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}

.name {
    text-align: center;
}

.products-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}
.product {
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

#cart-title{
    width:300px;
    text-align:center;
    padding: 30px;
    
}

#cart {
    right: 100px;
    top: 150px;
    position: fixed;
    border: 1px solid black;
    flex-direction: column;
    width:300px;
    height:600px;
    display: flex;
    overflow: auto;
    text-align:center;
}

.cart-item img{
    right: 50px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.about{
    margin-top: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 100px;
    display: flex;
    justify-content: center;
}

body{
    text-align: center;
}

#logo{
    color: white;
    position: absolute;
    margin: 10px;
    margin-left: 50px;

}